.App {
  text-align: center;
  /* padding: 1rem; */
  /* background: url(); */
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.trans-card {
  border-radius: 4px;
  padding: 0 0.5rem;
  background: #fafafa;
  color: #424242;
}

.near-clear {
  background: rgba(251, 250, 255, 0.3);
}

.more-solid {
  background: rgba(255, 255, 255, 0.8);
}
